# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime text project files
*.sublime-*

*~

# everything in the build directory
src/build/*

algo_pipeline.cpp
algo_pipeline.hpp
processing_dialog.cpp