# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime text project files
*.sublime-*

*~

# everything in the build directory
*build*

docs/html

CMakeLists.txt.user*
