[submodule "submodules/KinectRecorder"]
	path = submodules/KinectRecorder
	url = https://github.com/sanomaster/KinectRecorder.git
[submodule "src/algorithms/slam"]
	path = src/algorithms/slam
	url = https://github.com/age/slam.git
